<%- include('components/head.ejs') -%>
<body id="homepage">
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main class="profileContent">
    <!-- sidebar -->
    <!-- content -->
      <article>
        <h1>Interesses aanpassen van <%= currentUser.username %>...</h1>
        <ul>
          <% for (var i = 0; i < currentUserInterests.length; i++) { %>
            <li>
              <h2><%= currentUserInterests[i] %></h2>
              <!-- <button class="removeInterest">[x] Verwijder interesse</button> -->
            </li>
          <% } %>
        </ul>
        <input class="addItemBar" list="addItemDataList" type="text" placeholder="Voeg een interesse toe Bijvoorbeeld: 'Playstation' ">
      </article>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
</html>
