<%- include('components/head.ejs') -%>
<body>
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main class="profileContent">
    <!-- sidebar -->
    <!-- content -->
      <article>
        <h1>Interesses aanpassen van <%= currentUser.username %></h1>
        <ul class="interestList">
          <% for (var i = 0; i < currentUser.interests.length; i++) { %>
              <li>
                <%= currentUser.interests[i] %>
              </li>
          <% } %>
        </ul>
      </article>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
</html>
