<!-- INCLUDE HEAD -->
<%- include('components/head.ejs') -%>

<body id="homepage">
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main>
    <!-- sidebar -->
    <!-- content -->
    <article>
      <h1>Welkom bij Geek Matching!</h1>
      <p>Om het makkelijk te maken, hebben wij alle gebruikers die 1 of meerdere interesses met je delen alvast hieronder gezet. Bezoek gerust de pagina's van die profielen. Wie weet waar het naar toe kan gaan...</p>
    </article>
      <section>
        <h1>Geeks met dezelfde interesses</h1>
        <ul>
          <% for (var i = 0; i < profiles.length; i++) { %>
            <a href="/profile/<%= profiles[i]._id %>">
              <li>
                <img src="/static/images/profileImage.svg">
                <h2><%= profiles[i].name %>, <%= profiles[i].age %></h2>
                <p><%= profiles[i].location %></p>
              </li>
            </a>
          <% } %>
        </ul>
      </section>
      <section>
        <h1>Alle profielen</h1>
        <ul>
          <% for (var i = 0; i < allProfiles.length; i++) { %>
            <a href="/profile/<%= allProfiles[i]._id %>">
              <li>
                <img src="/static/images/profileImage.svg">
                <h2><%= allProfiles[i].name %>, <%= allProfiles[i].age %></h2>
                <p><%= allProfiles[i].location %></p>
              </li>
            </a>
          <% } %>
        </ul>
      </section>
      <section>
        <h1>Mede One Punch Man fans</h1>
        <ul>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
        </ul>
      </section>
      <section>
        <h1>Mede Harry Potter fans</h1>
        <ul>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
        </ul>
      </section>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
</html>
