<%- include('components/head.ejs') -%>
<body id="homepage">
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main class="profileContent">
    <!-- sidebar -->
    <!-- content -->
      <article>
        <h1><%= profile.name %>, <%= profile.age %></h1>
        <!-- <h1>Bas, 23</h1> -->
        <img src="/static/images/profileImage.svg">
        <ul class="profileImagesList">
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
          <li><img src="/static/images/profileImage.svg"></li>
        </ul>
        <h2>Over</h2>
        <p><%= profile.about %></p>
        <h2>Interesses en hobby's</h2>
        <ul class="interests">
          <% for (var i = 0; i < profile.interests.length; i++) { %>
              <li>
                <%= profile.interests[i] %>
              </li>
          <% } %>
          <!-- <li>Nintendo</li>
          <li>Game of Thrones</li>
          <li>Witcher</li>
          <li>Fifa</li>
          <li>Playstation</li>
          <li>PC-bouwen</li>
          <li>My Hero Academia</li>
          <li>One Punch man</li>
          <li>Fullmetal Alchemist</li> -->
        </ul>
        <h2>Locatie</h2>
        <p><%= profile.location %></p>
        <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39280.79736171739!2d4.497940396486391!3d52.02418980905812!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x47c5ce83f9cb319f%3A0xec401c58a3a3f8ee!2sBleiswijk%2C%20Nederland!5e0!3m2!1snl!2suk!4v1589378938146!5m2!1snl!2suk"></iframe> -->
      </article>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
</html>
