<%- include('components/head.ejs') -%>
<body id="homepage">
  <!-- INCLUDE HEADER -->
  <%- include('components/header.ejs') -%>

  <!-- INCLUDE ASIDE -->
  <%- include('components/aside.ejs') -%>
  <main class="profileContent">
    <!-- sidebar -->
    <!-- content -->
      <article>
        <h1>Profielen verwijderen</h1>
        <ul class="removeProfileList">
          <% for (var i = 0; i < allProfiles.length; i++) { %>
            <li>
              <h2><%= allProfiles[i].name %>, <%= allProfiles[i].age %></h2>
              <p><%= allProfiles[i]._id %></p>
            </li>
          <% } %>
        </ul>
        <form action="/remove" method="POST">
          <label for="profileList">Profiel ID:</label>
          <input id="profileList"  type="text" list="profileID" name="_id" autocomplete="off" placeholder="Voeg een id toe om het profiel te verwijderen">
          <datalist id="profileID">
            <% for (var i = 0; i < allProfiles.length; i++) { %>
              <option value=" <%= allProfiles[i]._id %>">
            <% } %>
          </datalist>
          <input class="CTA-Button" type="submit" value="Verwijder dit profiel" required>
        </form>
      </article>
      <!-- INCLUDE ASIDE -->
      <%- include('components/footer.ejs') -%>
  </main>
</body>
